body{
background-color: aliceblue;
margin: 0;
}
h1 {
    font-size: 80px;
    color: mediumorchid;
    font-style:'Sassy Frass', cursive;
}

p{
    /*add a custom google font family */
    font-family: 'Oswald', sans-serif;
    /* change the size */
    font-size: 20px;
    /* change the line height */
    line-height: 20px;
    /* change the color */
    color: #6495ED; 
}

.button-link {
        border-style: solid;
        border-color: darkslateblue;
        background-color: cornsilk;
        border-width: 2px;
        text-decoration: none;
        color: black;
        padding: 8px;
        display: block;
        width: 100px;
        border-radius: 10px;
        text-align: center;
        margin-top: 20px;
}
.nav-links {
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
    nav {
        padding: 20px;
        position: fixed;
        width: 100%;
        background-color: white;
}


.button-alert{
        border-style: dotted;
        border-color: darkred;
        background-color: darkgrey;
        border-width: 2px;
        text-decoration: none;
        color: black;
        padding: 8px;
        display: block;
        width: 100px;
        border-radius: 10px;
        text-align: center;
        margin-top: 20px;
} 

.button-attack{
    border-style: outset;
    border-color: darkorange;
    background-color: plum;
    border-width: 2px;
    text-decoration: none;
    color: black;
    padding: 8px;
    display: block;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
}

.top-banner {
    height: 240px;
    text-align: center;
    padding-top: 110px;
    background-image: url(https://www.pexels.com/photo/gold-glitter-lot-751374/);
    margin: 0 auto;
    border-width: 300px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    margin-top: 10px;
    Background-size: cover;
    background-attachment: fixed;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px; 
}

footer{
    height: 200px;
    text-align: center;
    padding: 10px 0;
    background-color: beige;
    margin:0 auto;
    
}